<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Static Content Handling -->
    <staticContent>
      <!-- Add MIME Types for various file extensions -->
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <!-- Add other file types as needed -->
    </staticContent>

    <!-- Handlers to handle ASP.NET requests -->
    <handlers>
      <add name="ASP.NET" path="*.aspx" verb="*" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified" />
    </handlers>

    <!-- Optional: URL Rewrite configuration if you need custom routing or proxy -->
    <rewrite>
      <rules>
        <!-- Rewrite rule for proxy or reverse proxy -->
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
